.Home{
    width: 100%;
    min-height: 100vh;
    background-color:var(--Black);
    padding-top: 50px;
    padding-bottom: 50px;
}
.container{
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    
}
.Swiper{
    margin-top: 20px;
}
.description{
    margin-top: 30px;
    padding: 10px;
}
.description h1{
    display: flex;
    flex-direction: row-reverse;
    color: var(--White);
    font-size: 4em;
    font-weight: 800;  
}
.description h1 span{
    color:red;
     padding-left: 10px;
    
    
}
.description h2{
   display: flex;
   flex-direction: row-reverse;
   color: var(--White);
   font-size: 2em;
   font-weight: 600;
   word-spacing: 2px;
   margin-bottom: 10px;
}
.description p{
    display: flex;
    flex-direction: row-reverse;
    color: var(--White);
    font-size: 1em;
    font-weight: 300;
    word-spacing: 2px;
    margin-bottom: 10px;
}
.description p span{
    font-size: 2em;
    font-weight: 600;  
    
}
@media only screen and (max-width: 900px) {
   
    .description h1{
        font-size: 2.5em;
        font-weight: 600;
        
    }
    .description h2{
       font-size: 1.5em;
       font-weight: 400;
       word-spacing: 1px;
    }
    .description p{
        font-size: 0.8em;
        font-weight: 150;
        word-spacing: 1px;
    }
    .description p span{
        font-size: 1.5em;
        font-weight: 600;  
        
    }
  }