.swiper1 .swiper{
  width: 450px;
  height: 450px;
  border-radius: 50%;
  animation: Swiper 2s linear infinite alternate;
  
}
.swiper1 .swiper-slide{
   width: 450px;
   height: 450px;
   border-radius: 50%;
}
@keyframes Swiper{
  0%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0px);
  }
}
.swiper1 .swiper-slide img{
  width: 450px;
  height: 450px;
  border-radius: 50%;
}
@media only screen and (max-width: 900px) { 
  .swiper1 .swiper{
    width: 350px;
    height: 350px;
    
  }
  .swiper1 .swiper-slide{
     width: 350px;
     height: 350px;
  }
  .swiper1 .swiper-slide img{
    width: 350px;
    height: 350px;
  }
  
}

 
 