.ContentUs{
    width: 100%;
    min-height: 30vh;
    background-color:var(--Black);
    padding-top: 50px;
    padding-bottom: 200px;
}
.ContentUs h2{
    font-size: 4em;
    color: var(--White);
    font-weight: 600;
    display: flex;
    justify-content: center;

}
