.ContentUs{
    width: 100%;
    min-height: 30vh;
    background-image: url(../../Asset/Img/abstract-geometric-background-shapes-texture.jpg);
}
.ContentUs h2{
    font-size: 4em;
    color: var(--White);
    font-weight: 600;
    display: flex;
   justify-content: center;

}
