.Menu{
    width: 100%;
    min-height: 80vh;
    background-color:var(--Black);
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Menu h2{
    font-size: 4em;
    color: var(--White);
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

}
.contienar{
    width: 1300px;
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
}
@media only screen and (max-width: 1400px) { 
    .contienar{
        width: 670px;
    }
    
}
@media only screen and (max-width: 650px) { 
    .contienar{
        width: 335px;
    }
    
}
