.WhoWe{
   width: 100%;
   min-height: 70vh;
   background-color:var(--Black);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
   padding-bottom: 50px;
}
.WhoWe h2{
   font-size: 4em;
   color: var(--White);
   font-weight: 600;
   display: flex;
   justify-content: center;
   
   margin-bottom: 20px;

}

.WhoWe p{
   width: 600px;
   color: var(--White);
   font-size: 1em;
   font-weight: 600;
   word-spacing: 1px;
   text-align: end;
   line-height: 25px;
   
}
.WhoWe ul li{
   width: 600px;
   color: var(--White);
   font-size: 1em;
   font-weight: 600;
   word-spacing: 1px;
   text-align: end;
   list-style: none;
   margin-bottom: 15px;
}
@media only screen and (max-width: 900px) { 
   .WhoWe h2{
      font-size: 3em;
   }
   .WhoWe p{
      width: 300px;
      
   }
   .WhoWe ul li{
      width: 300px;
   }
}
